
<div id='article-container'>
    {{#each this.articleArray}}
        {{>article}}
    {{/each}}
</div>

<div class="row">
    <div class="col-5" align="right">
        <a id="prevPage" class="btn btn-primary" href="/articles/{{this.prevPage}}"><<</a>
    </div> 
    <div class="col-2" align="center">
        <p id="page">{{this.page}}</p>
    </div>
    <div class="col-5" align="left">
        <a id="nextPage" class="btn btn-primary" href="/articles/{{this.nextPage}}">>></a>
    </div> 
</div>
    <div id="scrape-result" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Scrape Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="mod-txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
<script src="/assets/js/articles.js"></script>